
body {
    font-family: Arial, sans-serif;
    background-color: #036e8b;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

table{
    border-width: 3px;
    border-style: solid;
    border-color: rgb(255, 0, 162);
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin: 4px;
}